$desktop: 540px;

li {
  width: 100%;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  display: flex;
}

.item {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.item div {
  width: 100%;
  display: flex;
}

.item.done .toggle {
  background-image: url("../../../public/Todoitem_images/done.png");
}

.item.done p {
  color: lightgrey;
  text-decoration: line-through;
}

.toggle {
  -webkit-appearance: none;
  border: none;
  background: url("../../../public/Todoitem_images/active.png") no-repeat center center;
  cursor: pointer;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}

li p {
  margin-top: auto;
  margin-bottom: auto;
  word-wrap: break-word;
  text-align: left;
}

.destroy {
  margin: 0;
  border: none;
  padding: 0;
  background: url("../../../public/Todoitem_images/delete.png") no-repeat center center;
  cursor: pointer;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.destroy:hover {
  background-image: url("../../../public/Todoitem_images/delete-hover.png");
}

.edit {
  color: black;
}

@media(min-width: $desktop) {
  .item p {
    width: 370px;
    padding-right: 50px;
  }

  .toggle {
    width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
    background-size: 40px 40px;
  }

  .toggle:hover {
    background-size: 45px 45px;
  }

  li p {
    width: 420px;
    font-size: 32px;
  }

  .destroy {
    display: none;
    width: 50px;
    height: 50px;
    background-size: 40px 40px;
  }

  .item:hover .destroy:not(.hidden) {
    display: block;
  }

  .item:hover p {
    padding-right: 0;
  }

  .edit {
    width: 90%;
    font-size: 32px;
  }
}

@media(max-width: $desktop) {
  .item div {
    width: 62vw;
  }

  .item p {
    width: 52vw;
  }

  .toggle {
    width: 10vw;
    height: 10vw;
    margin: 0 2vw 0 0;
    background-size: 8vw 8vw;
  }

  .toggle:hover {
    background-size: 9vw 9vw;
  }

  li p {
    font-size: 5vw;
  }

  .destroy {
    width: 10vw;
    height: 10vw;
    background-size: 8vw 8vw;
  }

  .edit {
    width: 60vw;
    font-size: 5vw;
  }
}