$desktop: 540px;

.footer {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  margin: 0;
}

.footer a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  box-sizing: border-box;
  padding: 2px;
}

.buttons {
  justify-content: space-between;
  align-items: center;
}

.footer > a:hover {
  text-decoration: underline;
}

.footer .buttons a {
  box-sizing: border-box;
}

.footer .buttons a:not(.checked) {
  border: 1px solid white;
}

a.checked {
  border: 1px solid black;
}

.footer .buttons a:not(.checked):hover {
  border: 1px solid grey;
}

@media(min-width: $desktop) {
  .footer {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;
  }

  .footer .buttons a {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    padding: 2px;
  }

  .buttons {
    display: flex;
    height: 14px;
  }
}

@media(max-width: $desktop) {
  .footer {
    display: grid;
    grid-template-areas:
      "counter clear-all"
      "buttons buttons";
    padding-left: 10px;
    padding-right: 10px;
    font-size: 3vw;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
    row-gap: 1vw;
  }

  .footer .buttons a {
    border-radius: 5px;
    padding: 2px;
    text-align: center;
  }

  .footer .counter {
    grid-area: counter;
  }

  .buttons {
    grid-area: buttons;
    display: grid;
    height: 14px;
    grid-template-columns: 25% 25% 40%;
    column-gap: 3%;
  }
}