$desktop: 540px;

body {
  padding: 0;
  margin: 0 auto 20px;
  font-family: sans-serif;
  background-color: #efefef;
}

@media(min-width: $desktop) {
  body {
    width: 500px;
  }
}

@media(max-width: $desktop) {
  body {
    width: 80%;
  }
}