.toggle-all {
  width: 50px;
  height: 50px;
  margin: 0;
  -webkit-appearance: none;
  border: none;
  background: url("./sources/ckeck_all.png") no-repeat center center;
  background-size: 40px 40px;
  cursor: pointer;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}

.input {
  display: flex;
  width: 100%;
}

.toggle-all:hover {
  background-size: 45px 45px;
}

.new-todo {
  height: 50px;
  width: 85%;
  margin-left: auto;
  border: none;
  font-size: 28px;
  font-style: italic;
  color: lightgrey;
}

.new-todo::-webkit-input-placeholder {
  color: lightgrey;
}

.new-todo:focus {
  outline: none;
  color: black;
}
