$desktop: 540px;

.toggleAll {
  margin: 0;
  -webkit-appearance: none;
  border: none;
  background: url("../../../public/Todoinput_images/ckeck_all.png") no-repeat center center;
  cursor: pointer;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}

.input {
  display: flex;
  width: 100%;
}

.newTodo {
  margin-left: auto;
  border: none;
  font-style: italic;
  color: lightgrey;
}

.newTodo::-webkit-input-placeholder {
  color: lightgrey;
}

.newTodo:focus {
  outline: none;
  color: black;
}

@media(min-width: $desktop) {
  .toggleAll {
    width: 50px;
    height: 50px;
    background-size: 40px 40px;
  }

  .toggleAll:hover {
    background-size: 45px 45px;
  }

  .newTodo {
    height: 50px;
    width: 85%;
    font-size: 28px;
  }
}

@media(max-width: $desktop) {
  .toggleAll {
    width: 10vw;
    height: 10vw;
    background-size: 8vw 8vw;
  }

  .toggleAll:hover {
    background-size: 9vw 9vw;
  }

  .newTodo {
    height: 10vw;
    width: 65vw;
    font-size: 5vw;
  }
}